---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Titel" farve="bg-blaa">
  <article class="grid md:mx-20">
    <section class="md:grid md:grid-cols-3 md:mb-96 md:mt-32 mt-20 mb-52">
      <p
        class="text-gul md:text-[638px] text-[166px] pb-16 md:col-span-1 grid justify-center self-center"
      >
        1
      </p>
      <div class="md:col-span-2 mitelement">
        <p
          class="md:text-[65px] text-4xl font-medium text-white md:pb-12 leading-normal"
        >
          Ryd op på din smartphone
        </p>
        <p>
          Fjern alle apps, som du ikke har brugt i et stykke tid, eller kun har
          brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemte,
          gamle apps og spil, som du har downloadet, men endnu ikke rigtig har
          prøvet. Sandsynligheden for, at du pludselig begynder at bruge dem
          senere, er meget lille! De bruger energi, selv når de ikke er i brug,
          og kan forbruge hundredvis af megabytes under månedlige opdateringer.
        </p>
        <p>
          Husk at slette brugerkonti (inklusive e-mails) og tilknyttede data,
          som du oprettede, da du var 15, og som du ikke har tilgået i et årti
          eller mere! Du vil gøre din telefon hurtigere og forbedre
          batterilevetiden. Det kan altid betale sig at have så få apps som
          muligt.
        </p>
        <p>
          Gennemgå dine fotos og videoer. Ved at slette de unødvendige samt
          eventuelle dubletter kan du frigøre mange gigabyte af værdifuld
          lagerplads. Se vejledningen til, hvordan du rydder op på din
          smartphone og tablet.
        </p>
      </div>
    </section>
    <section class="md:grid md:grid-cols-3 md:mb-96 mb-52">
      <p
        class="text-lyseblaa md:text-[638px] text-[166px] pb-16 md:col-span-1 grid justify-center self-center"
      >
        2
      </p>
      <div class="md:col-span-2 mitelement2">
        <p
          class="md:text-[65px] text-4xl md:font-medium text-white md:pb-12 leading-normal"
        >
          Ryd op på din computers harddisk.
        </p>
        <p>
          Ryd op i din personlige compute r, og slet filer, der er dubletter,
          eller som er blevet unødvendige. Gennemgå alle dine billeder, og slet
          dubletter og slørede fotos. Tjek videofiler, og slet dem, du har set,
          eller som ikke længere er relevante. Arkiver de vigtige filer. Du kan
          forvente at finde virkelig fantastiske ting på din computer! Se
          retningslinjerne for, hvordan du rydder op på din computer og din
          harddisk.
        </p>
      </div>
    </section>
    <section class="md:grid md:grid-cols-3 md:mb-96 mb-52">
      <p
        class="text-rosa md:text-[638px] text-[166px] pb-16 md:col-span-1 grid justify-center self-center"
      >
        3
      </p>
      <div class="md:col-span-2 mitelement3">
        <p class="md:text-[65px] text-4xl font-medium text-white md:pb-12">
          Ryd op i din indbakke
        </p>
        <p>
          Filtrer e-mails efter de ældste, og arkiver dem. Afmeld nyhedsbreve,
          du alligevel ikke læser. Vælg lange samtaler, behold den nyeste og
          slet resten! Søg efter almindelige navne, adresser og ord for at samle
          lignende e-mails, så du kan håndtere dem på én gang. Vær modig, og
          klik på slet-knappen. Se retningslinjerne for, hvordan du rydder op i
          din indbakke!
        </p>
      </div>
    </section>
    <section class="md:grid md:grid-cols-3 md:mb-52 mb-20">
      <p
        class="text-green md:text-[638px] text-[166px] pb-16 md:col-span-1 grid justify-center self-center"
      >
        4
      </p>
      <div class="md:col-span-2 mitelement4">
        <p class="md:text-[65px] text-4xl font-medium text-white md:pb-12">
          Lav nye arrangementer
        </p>
        <p>
          I stedet for at sende e-mails, brug flere fælles arbejdspladser. Stop
          med at sende 'ok' og 'tak' e-mails! Opbevar de vigtige filer på én
          cloud-løsning, så der ikke er behov for at have den samme fil på hver
          computer. Tænk først, før du laver en backup. Skab mindre 'hurtigt
          indhold' og vær mere bevidst om dine videoer og fotos. Sørg for kun at
          sikkerhedskopiere de filer, du vil få brug for, og kun de fotos, du
          virkelig elsker.
        </p>
        <p>
          Små ændringer i dine internetvaner, som f.eks. at slukke for videoen
          under et virtuelt møde, reducere kvaliteten af streamingtjenester,
          nedsætte spilletiden, begrænse tid på sociale medier og afmelde
          nyhedsbreve og e-mail-lister, kan markant reducere dit miljøaftryk!
        </p>
      </div>
    </section>
    <section class="grid justify-center">
      <h1>Vær kreativ og lev let!</h1>
      <div class="grid justify-center md:py-14 py-6">
        <Link href="#" target="_blank" variant="primary" size="small"
          >Registrer bidrag<Link />
        </Link>
      </div>
    </section>
  </article>
</MainLayout>

<script>
  import { inView } from "motion";

  // 1
  const inviewelement = document.querySelector(".mitelement");

  inView(inviewelement, () => {
    inviewelement.classList.add("animate__animated", "animate__fadeInUp");
  });

  // 2
  const inviewelement2 = document.querySelector(".mitelement2");

  inView(inviewelement2, () => {
    inviewelement2.classList.add("animate__animated", "animate__fadeInUp");
  });

  // 3
  const inviewelement3 = document.querySelector(".mitelement3");

  inView(inviewelement3, () => {
    inviewelement3.classList.add("animate__animated", "animate__fadeInUp");
  });

  // 4
  const inviewelement4 = document.querySelector(".mitelement4");

  inView(inviewelement4, () => {
    inviewelement4.classList.add("animate__animated", "animate__fadeInUp");
  });
</script>
