---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Titel">
  <div class="bg-blue">
    <section class="md:grid md:grid-cols-2">
      <p class="text-[#F7CD72] text-[638px] grid justify-center">1</p>
      <div>
        <h1>Ryd op på din smartphone</h1>
        <p>Fjern alle apps, som du ikke har brugt i et stykke tid, eller kun har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemte, gamle apps og spil, som du har downloadet, men endnu ikke rigtig har prøvet. Sandsynligheden for, at du pludselig begynder at bruge dem senere, er meget lille! De bruger energi, selv når de ikke er i brug, og kan forbruge hundredvis af megabytes under månedlige opdateringer.</p>
        <p>Husk at slette brugerkonti (inklusive e-mails) og tilknyttede data, som du oprettede, da du var 15, og som du ikke har tilgået i et årti eller mere! Du vil gøre din telefon hurtigere og forbedre batterilevetiden. Det kan altid betale sig at have så få apps som muligt.</p>
        <p>Gennemgå dine fotos og videoer. Ved at slette de unødvendige samt eventuelle dubletter kan du frigøre mange gigabyte af værdifuld lagerplads. Se vejledningen til, hvordan du rydder op på din smartphone og tablet.</p>
      </div>
    </section>
    <section class="md:grid md:grid-cols-2">
      <p class="text-[#72B4F7] text-[638px] grid justify-center">2</p>
      <div>
        <h1>Ryd op på din computers harddisk.</h1>
        <p>Ryd op i din personlige compute r, og slet filer, der er dubletter, eller som er blevet unødvendige. Gennemgå alle dine billeder, og slet dubletter og slørede fotos. Tjek videofiler, og slet dem, du har set, eller som ikke længere er relevante. Arkiver de vigtige filer. Du kan forvente at finde virkelig fantastiske ting på din computer! Se retningslinjerne for, hvordan du rydder op på din computer og din harddisk.</p>
      </div>
    </section>
    <section class="md:grid md:grid-cols-2">
      <p class="text-[#F77282] text-[638px] grid justify-center">3</p>
      <div>
        <h1>Ryd op i din indbakke</h1>
        <p>Filtrer e-mails efter de ældste, og arkiver dem. Afmeld nyhedsbreve, du alligevel ikke læser. Vælg lange samtaler, behold den nyeste og slet resten! Søg efter almindelige navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem på én gang. Vær modig, og klik på slet-knappen. Se retningslinjerne for, hvordan du rydder op i din indbakke!</p>
      </div>
    </section>
    <section class="md:grid md:grid-cols-2">
      <p class="text-[#72F79C] text-[638px] grid justify-center">4</p>
      <div>
        <h1>Lav nye arrangementer</h1>
        <p>I stedet for at sende e-mails, brug flere fælles arbejdspladser. Stop med at sende 'ok' og 'tak' e-mails! Opbevar de vigtige filer på én cloud-løsning, så der ikke er behov for at have den samme fil på hver computer. Tænk først, før du laver en backup. Skab mindre 'hurtigt indhold' og vær mere bevidst om dine videoer og fotos. Sørg for kun at sikkerhedskopiere de filer, du vil få brug for, og kun de fotos, du virkelig elsker.</p>
        <p>Små ændringer i dine internetvaner, som f.eks. at slukke for videoen under et virtuelt møde, reducere kvaliteten af streamingtjenester, nedsætte spilletiden, begrænse tid på sociale medier og afmelde nyhedsbreve og e-mail-lister, kan markant reducere dit miljøaftryk!</p>
      </div>
    </section>
    <section class="grid justify-center">
      <h1>Vær kreativ og lev let!</h1>
      <Link href="#" target="_blank" variant="primary" size="small">Registrer bidrag<Link /> </Link>
      <!-- <Link href="#" target="_blank" variant="formvariant" size="formsize">Registrer bidrag<Link /> </Link> -->
    </section>
  </div>
</MainLayout>
