---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import hero_img from "../assets/images/hero_img.webp";
---

<MainLayout title="Titel">
  <article>
    <div class="bg-black">
      <p class="text-blue-800">prøver lige</p>
    </div>
    <h1>Index overskrift</h1>
    <h1>hej</h1>
    <h2>Index overskrift</h2>
    <Button>Klik!</Button>
    <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <Image src={hero_img} alt="" />
    <p></p>
  </article>
</MainLayout>
