---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "textlink", size = "standard" } = Astro.props;

const linkStyling = "rounded-full";
const variantClasses = {
  textlink: "text-black underline",
  primary: "bg-orange text-moerkeblaa",
  secondary: "bg-blaa text-white",
};
const sizeClasses = {
  small: "px-6 py-2.5 md:text-xl text-sm hover:px-7 hover:py-3 w-fit",
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>
